/**
 * This Source Code Form is subject to the terms of the Mozilla Public License,
 * v. 2.0 + Health disclaimer. If a copy of the MPL was not distributed with
 * this file, You can obtain one at http://license.openmrs.org
 */

.imageHeader { 
    text-align: center;
    width: 320px;
}

.imageBox{
    text-align: center;
    width: 320px; 
    height: 320px
}

.textOverlay{
    position:relative; 
    text-align: center;
    font-size: medium; 
    font-weight: bold; 
    bottom: 50px; 
    color: WHITE;
}

